.projects-container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.banner-image__projects {
  background-image: url("../../public/projects.jpg");
  width: 100%;
  max-height: 400px;
  height: 400px;
  background-position: -39px -492px;

  @media only screen and (max-width: 800px) {
    max-height: 250px;
    height: 250px;
  }
}

.project-filters {
  display: flex;
  margin-bottom: 2rem;

  p {
    font-size: 1.1rem;
    margin-right: 1rem;
    padding: 1rem;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin: 0 5%;

  @media only screen and (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.project-container {
  display: grid;
  grid-template-columns: 60% 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 5%;
  padding: 5%;

  @media only screen and (max-width: 1050px) {
    grid-template-columns: 1fr;
    margin-top: 15%;
  }
}

.project-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    // width: 100%;
    max-width: 100%;
    max-height: 560px;
    // height: 10rem;
    margin: 1rem auto;
    transition: opacity linear 0.3s;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }


  }
}

.project-description {
  margin-bottom: 15rem;
  margin-left: 1rem;
  position: sticky;
  top: 20%;

  h2 {
    margin-bottom: 1rem;
  }

  @media only screen and (max-width: 1050px) {
    display: none;
  }
}
