form {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-self: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;

  label {
    margin: 1rem 0;
  }

  button {
    /* remove default behavior */
    appearance: none;
    -webkit-appearance: none;

    /* usual styles */
    padding: 13px;
    border: none;
    background-color: #3a3a3a;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 5px;
    width: 100%;
    margin-top: 1rem;
    cursor: pointer;
  }

  input,
  textarea {
    // border: 0.2px solid #fff0d3;
    // border-radius: 10px;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    // box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    font-family: inherit;
    font-size: inherit;
  }
}

.contact-page {
  margin: 1.5rem 5%;
}
