.navbar {
  overflow: hidden;
  background-color: #f7f7f7d6;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 60%; /* Full width */
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  //   padding: 2rem;
  transition: all 0.3s linear;
}

.logo {
  height: 120px;
  width: 130px;
  transition: all 0.3 linear;

  &:hover {
    cursor: pointer;
  }
}

.logo-shrunk {
  height: 90px;
  width: 100px;
}

.nav-items {
  display: flex;
}

.nav-item {
  font-family: "Roboto", sans-serif;
  list-style: none;
  margin-right: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all linear 0.2s;

  &.active {
    color: #f53232;
  }

  &:hover {
    color: #f53232;
  }
}

.mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  background-color: #e9e9e9;
}

.nav-items__mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;

  li {
    margin: 1.5rem;
  }
}

.close-btn {
  position: absolute;
  top: 5%;
  right: 5%;
}
