@import "./components/navbar";
@import "./components/footer";
@import "./components/gallery";
@import "./components/contact_form";
@import "./projects/projects";
@import "./about";
@import "./contact";
@import "./components/blog";
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// util
.text-line {
  line-height: 2rem !important;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Raleway", sans-serif;
}

main {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  // background-image: url("../public/white-waves.png");
  background-color: white;
}

.hidden {
  display: none;
}

.alice-carousel__slide-info {
  bottom: 20px;
  top: inherit !important;
}

.slider {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.slider--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.slider--feature {
  background-color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  padding: 1rem;
  text-align: center;
  animation: slideUp 0.4s linear;
}

.feature--title {
  font-size: 2rem;
  color: rgb(49, 49, 49);
  text-transform: uppercase;
  font-weight: 700;
}

.feature--text {
  font-size: 1rem;
  color: rgb(44, 44, 44);
  margin: 1rem 0;
}

.slider__btn-right,
.slider__btn-left {
  background: transparent;
  border: none;
  outline: none;
  font-size: 4rem;
  color: #eee;
  padding: 0 1rem;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.feature__btn {
  background: #fff;
  text-transform: uppercase;
  border: none;
  color: #444;
  border: 1px solid #444;
  outline: none;
  font-weight: 700;
  padding: 0.8rem 2rem;
  cursor: pointer;
}

.slider__btn-left:hover,
.slider__btn-right:hover {
  transform: scale(0.95);
}

@keyframes fadeIn {
  0% {
    transform: translate(-1500px);
    opacity: 0.3;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(300px);
    opacity: 0.3;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn 0.5s;
}

// about block

hr {
  border: 1px solid #6c6c6c;
  margin: 30px 0;
}

.container {
  max-width: 1200px;
  margin: 4rem auto;
  // display: flex;
  // flex-direction: column;

  @media only screen and (max-width: 1200px) {
    max-width: 1000px;
    margin: 2rem 1rem;
  }
}

.section-heading {
  letter-spacing: 4px;
  // background-color: #ffad1730;
  text-align: center;
  display: inline-block;
  font-size: 1.4rem;
  padding: 2rem 8rem 2rem 2rem;
}

.about-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    box-shadow: rgb(16 16 16 / 35%) 2px 4px 6px 0px;
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.about-text {
  padding: 1rem;
  line-height: 1.5rem;
  font-size: 1.3rem;
}

// projects

.featured-gallery {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
  img {
    width: 100%;
  }
}

.partners {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
}

// contact

.contact-wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.contact_text {
  h3,
  h4,
  p {
    margin-bottom: 1rem;
  }
}

.btn {
  font-family: inherit;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-radius: 25px;
  width: auto;
  outline: 0;
  font-size: 11px;
  line-height: 2em;
  letter-spacing: 0.2em;
  font-weight: 600;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  padding: 15px 43px;
  cursor: pointer;
  color: #363636;
  background-color: transparent;
  border: 1px solid #363636;
}

.center {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}
